PORT=3000
MONGODB_URI=mongodb://jack:2sodC6biY2qL5FNy@ac-n4b0xzh-shard-00-00.wof3qiu.mongodb.net:27017,ac-n4b0xzh-shard-00-01.wof3qiu.mongodb.net:27017,ac-n4b0xzh-shard-00-02.wof3qiu.mongodb.net:27017/?ssl=true&replicaSet=atlas-fkjgbx-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN_SECONDS=3600
SUNAT_EXCHANGE_RATE_URL=https://api.apis.net.pe/v1/tipo-cambio-sunat
CORS_ORIGINS=http://localhost:3001


